.list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list input{
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  padding: 15px 0;
}

.list input:focus{
  outline: none;
  border-bottom: 1px solid rgb(108, 212, 238);
}

.list .item{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.list .item2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item2 button {
  color: gray;
  font-size: 14px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}